body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Microsoft YaHei", "Source Han Sans CN", "微軟正黑體", "Microsoft JhengHei", "PingFang SC","Hiragino Sans GB", "Helvetica Neue", Helvetica,  "Heiti SC",Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
